<div class="container-fluid register-wrapper">
  <div class="row justify-content-center align-items-center min-vh-100 p-3">
    <div class="col-lg-6 col-md-12 mb-4">
      <app-registercard></app-registercard>
    </div>

    <div class="col-lg-5 col-md-10">
      <input id="register_toggle" type="checkbox" hidden />
      <div class="slider register-glass">
        <form [formGroup]="registerForm1" class="form">
          <h2 class="title">Signup</h2>

          <div class="form_control">
            <input formControlName="username" id="Ruser" name="username" class="input" type="text" placeholder="Username" required />
          </div>
          <div class="valdiv1" *ngIf="registerForm1.get('username')?.errors && registerForm1.get('username')?.touched">
            <p>Please enter a valid username. Alphabets only. <span>(e.g anu)</span></p>
          </div>

          <div class="form_control">
            <input formControlName="password" id="Rpassw" name="password" class="input" type="password" placeholder="Password" required />
          </div>
          <div class="valdiv1" *ngIf="registerForm1.get('password')?.errors && registerForm1.get('password')?.touched">
            <p>Password required. No special characters. <span>(e.g abc123)</span></p>
          </div>

          <div class="form_control">
            <input formControlName="email" id="Remail" name="email" class="input" type="email" placeholder="Email" required />
          </div>
          <div class="valdiv1" *ngIf="registerForm1.get('email')?.errors && registerForm1.get('email')?.touched">
            <p>Please enter a valid email address.</p>
          </div>

          <div class="form_control">
            <input formControlName="firstName" id="Rfirst" name="firstName" class="input" type="text" placeholder="First Name" required />
          </div>
          <div class="valdiv1" *ngIf="registerForm1.get('firstName')?.errors && registerForm1.get('firstName')?.touched">
            <p>First name required. Alphabets only. <span>(e.g anu)</span></p>
          </div>

          <div class="form_control">
            <input formControlName="lastName" id="Rlast" name="lastName" class="input" type="text" placeholder="Last Name" required />
          </div>
          <div class="valdiv1" *ngIf="registerForm1.get('lastName')?.errors && registerForm1.get('lastName')?.touched">
            <p>Last name required. Alphabets only. <span>(e.g anu)</span></p>
          </div>

          <button (click)="register()" type="submit" class="register-btn">Signup</button>

          <p class="text-center text-light mt-3">
            Already have an account? <a class="text-info" href="">Login</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
